streamlit

langchain
langchain-community
langchain-core
langchain-text-splitters

langchain-chroma
chromadb

langchain-huggingface
sentence-transformers

langchain-groq

pypdf
python-docx

python-dotenv

pandas
numpy

tiktoken

pypdfium2

watchdog